<div class="mobile-menu" [class.is-open]="isOpen">
  <a href="#ftca" (click)="onLinkClick()">FTCA</a>
  <a href="#fifak" (click)="onLinkClick()">FIFAK</a>
  <div class="sub">
    <a href="#fifak2026" (click)="onLinkClick()">FIFAK 2026</a>
    <a href="#fifak2026" (click)="onLinkClick()">Programme</a>
    <a href="#fifak2026" (click)="onLinkClick()">Compétition</a>
    <a href="#archives" (click)="onLinkClick()">Archives</a>
  </div>
  <a href="#articles" (click)="onLinkClick()">Articles</a>
  <a href="#contact" (click)="onLinkClick()">Contact</a>
  <a href="#fifak2026" class="btn btn--solid" (click)="onLinkClick()">Découvrir FIFAK 2026</a>
</div>
