<section class="hero" [class.hero--impact]="content.typographyVariant === 'impact'" id="hero">
  <div
    class="hero__bg"
    [style.background-image]="'url(' + content.bgImageUrl + ')'"
    [style.background-position]="content.bgPosition"
  ></div>
  <div class="hero__wash"></div>

  <div class="hero__sprockets">
    <span *ngFor="let i of sprockets"></span>
  </div>

  <div class="wrap hero__content">
    <div class="hero__kicker">
      <span class="dot"></span>
      <span [class.eyebrow]="content.eyebrowStyled">{{ content.eyebrowText }}</span>
    </div>

    <h1>{{ content.titlePrefix }}<span class="accent">{{ content.titleAccent }}</span>{{ content.titleSuffix }}</h1>

    <p class="hero__sub">{{ content.subtitle }}</p>

    <div class="hero__bottom">
      <div class="hero__actions">
        <a
          *ngFor="let action of content.actions"
          [routerLink]="action.routerLink"
          [fragment]="action.fragment"
          class="btn"
          [class.btn--solid]="action.variant === 'solid'"
          [class.btn--ghost-light]="action.variant === 'ghost'"
        >
          {{ action.label }}
        </a>
      </div>
      <div class="hero__badge">
        <b>{{ content.badgeNumber }}</b>
        <div>
          <ng-container *ngFor="let line of content.badgeLines; let last = last"
            >{{ line }}<br *ngIf="!last"
          /></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__scroll" appRevealOnScroll>
    <span class="line"></span>Scroll
  </div>
</section>
